[Unit]
Description=Boot Splash Screen
DefaultDependencies=no
After=local-fs.target

[Service]
ExecStart=/bin/sh -c '/usr/share/bootscreen/bannerd -vD /usr/share/bootscreen/SPSBootLogo/*.bmp'
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=local-fs.target